html{
  height: 100%;
}

body {
  height: 100%;
  background-color: black;
  color: white;
  font-family: Helvetica, sans-serif;
  --item-height: 90px;
}

#addItemInput {
  padding-top: 5px;
}

#rankedList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#tierlistName {
  font-size: 30;
  padding-top: 5px;
  padding-left: 5%;
}

.row {
  top: 0;
  left: 0;
  width: 100%;
  /* height: var(--item-height); */
  border: 1px solid #a97;
  min-height: var(--item-height);
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}
.row:first-of-type .label-box {
  background-color: #990088;
}
.row:last-of-type {
  height: 13%;
}
.row:last-of-type .label-box {
  background-color: white;
  color: black;
}

.container {
  min-height: var(--item-height);
  width: 100%;
  background-color: #555;
}

.label-box {
  float: left;
  top: 0;
  left: 0;
  /* height: 100%; */
  min-height: 90px;
  padding: 0;
  padding-top: 0;
  padding-bottom: 0;
  width: 9vh;
  background-color: #e59d22;
  text-align: center;
  vertical-align: middle;
  margin-right: 1px;
  display: table;
}

.rank-label {
  font-size: 3em;
  height: auto;
  vertical-align: middle;
  display: table-cell;
}

.unrankedItemLabel {
  font-size: 20;
  padding-left: 5%;
  padding-top: 10px;
  padding-bottom: 3px;
}

.rankableItem {
  float: left;
  position: relative;
  margin: 0;
  padding: 0;
  border: 1px solid #000;
  height: var(--item-height);
  min-width: calc((90vh*.1) - 6px);
  background-color: white;
  color: black;
  background-position: center;
  text-transform: capitalize;
}

.rankableItem:hover {
  cursor: grab;
}

.rankableItem img {
  height: 100%;
  background-size: cover;
  background-position: center;
}

.rankableItem p {
  position: absolute;
  top: 1px;
  left: 2px;
  max-width: 100%;
  color: white;
  font-size: 10px;
  text-shadow:
     1px  1px 1px #000,
     1px -1px 1px #000,
    -1px  1px 1px #000,
    -1px -1px 1px #000;
  padding: 0;
  margin: 0;
  float: left;
}

#itemManagementPanel {
  padding: 8px 5px;
}

label, button {
  font-size: 15px;
  color: white;
  border: 0;
  padding: 12px 8px;
  border-radius: 4px;
  font-weight: bold;
}

label {
  background-color: #270;
}

#clearItemsButton {
  background-color: #920;
}

#loadFlagsButton {
  background-color: #a70;
}

img {
  padding: 0;
  margin: 0;
}
